* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #contact-us-title {
    font-size: 3vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
  
    text-align: center;
    color: white;
  }

  #contact-us-text{
    text-align: center;
    color: white;
    font-size: 1.8vw;
    line-height: 1.5;
    padding-left: 18vw ;
    padding-right: 18vw ;
    padding-bottom: 10vh ;

    
  }
  
  #details {
    margin-top: auto; 
    margin-bottom: 0; 
    font-size: 1.8vw;
    color: white;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 2vh;
  }
  
  @media (max-width: 768px) {

    #contact-us-title {
      font-size: 8vw;
      margin-top: 5vh;
      margin-bottom: 2.5vh;
    
      text-align: center;
      color: white;
    }
  
    #contact-us-text{
      text-align: center;
      color: white;
      font-size: 4vw;
      line-height: 1.5;
      padding-left: 18vw ;
      padding-right: 18vw ;
      padding-bottom: 10vh ;
  
      
    }
    
    #details {
      flex-direction: column;
      align-items: center;
      padding: 2vh;
    }
  
    #details span.one-detail-line {
    margin-top: 0.7vh;
    margin-bottom: 0.7vh;
    width: 40vw;
    align-content: start;
    font-size: 4vw;
    }

  
  }